body{
    background-color: silver;
}

.qPanel{
    background-color: rgb(100, 88, 167) ;
    border : none ;
    border-radius: 10px ;
    padding: 20px ;
    width: 60% ;
    font-size: 16pt ;
    
}
.ques{
    font-size: 20pt ;
    font-weight: bold ;
}
.nxtBtn{
    float: middle;
    border: none;
    font-size: 15pt;
    background-color: indigo;
    color: white;
    padding: 10px;
    width: 80px;
    height: 35px;

}
.lftCss{
    padding: 10px;
    float: middle;
}